// app global css in SCSS form

body {
  background-color: transparent;
}

a {
  color: $light-blue-5;
}

.translucent-menu {
  backdrop-filter: blur(10px) saturate(180%);

  @at-root .body--light & {
    background-color: rgba(255,255,255,.8);
  }
  @at-root .body--dark & {
    background-color: rgba($dark,.7);
  }

  @at-root .no-translucency & {
    backdrop-filter: none !important;
  }

  > .q-card {
    background-color: transparent !important;

    @at-root .no-translucency & {
      backdrop-filter: none !important;
    }
  }
}

.bg-dark-1 {
  background-color: $dark-1;
}
.bg-dark-2 {
  background-color: $dark-2;
}
.bg-dark-3 {
  background-color: $dark-3;
}
.bg-dark-4 {
  background-color: $dark-4;
}
.bg-dark-5 {
  background-color: $dark-5;
}
.bg-dark-6 {
  background-color: $dark-6;
}
.bg-dark-7 {
  background-color: $dark-7;
}

.mica {
  &.q-card {
    background-color: rgba(20,20,20,.7);
    backdrop-filter: blur(10px);

    @at-root .no-translucency & {
      background-color: rgba(20,20,20);
      backdrop-filter: none !important;
    }
  }
  &.q-menu {
    background-color: rgba(20,20,20,.7);
    backdrop-filter: blur(10px);

    @at-root .no-translucency & {
      background-color: rgba(20,20,20);
      backdrop-filter: none !important;
    }
  }
}

.card-border {
  border: 1px solid rgba(255,255,255, .2) !important;
  border-top-width: 0 !important;
}

.q-dialog__backdrop {
  backdrop-filter: blur(1px);

  @at-root .no-translucency & {
    backdrop-filter: none !important;
  }
}
.q-inner-loading--dark {
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,.5);

  @at-root .no-translucency & {
    backdrop-filter: none !important;
    background-color: rgba(0,0,0,.75);
  }
}

.text-word-break-all {
  word-break: break-all;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.spin {
  animation: spin 5s infinite linear;
}
