// app global css in SCSS form

body {
  background-color: transparent;
}

.translucent-menu {
  @at-root .body--light & {
    background-color: rgba(255,255,255,.8);
  }
  @at-root .body--dark & {
    background-color: rgba($dark,.7);
  }

  backdrop-filter: blur(10px) saturate(180%);

  > .q-card {
    background-color: transparent !important;
  }
}

.bg-dark-4 {
  background-color: lighten(#0d1117, 5%);
}
.bg-dark-5 {
  background-color: #0d1117;
}
.bg-dark-6 {
  background-color: #070a0d;
}
.bg-dark-7 {
  background-color: darken(#070a0d, 5%);
}

.mica {
  &.q-card {
    background-color: rgba(20,20,20,.7);
    backdrop-filter: blur(10px);
  }
  &.q-menu {
    background-color: rgba(20,20,20,.7);
    backdrop-filter: blur(10px);
  }
}

.card-border {
  border: 1px solid $primary !important;
  border-top-width: 0 !important;
}
